/OpenPizza/nbproject/private/
/OpenPizza/build/
/OpenPizza/dist/
/OpenPizza/Client/build/
/OpenPizza/Client/dist/
/OpenPizza/Client/nbproject/private/
/Server/nbproject/private/
/OpenPizza/Server/nbproject/private/
/OpenPizza/Server/build/
/OpenPizza/Server/dist/
Thumbs.db